h1{
    background-color: #333;
    /* rgba hace que el ultimo valor signifique opacidad en 0.3 0.5 1 0.1 */
    color: rgba(255, 255, 255, 0.3);
}

div{
    width: 100%;
    max-width: 200px;
    height: 100vw;
    border: 1px solid black;
    font-size: 12px;
    font-weight: 600;

    /* Se pone 2 font family o más porque si el navegador no soporta la primera fuente entonces soportará el segundo
    generalmente sans-serif es universal todos los navegadores deberían soportarlo */
    font-family: "Roboto"; sans-serif;
}

/* p.blue tiene mayor prioridad que solo .blue */
p.blue{
    color: greenyellow;
}

.blue{
    color: blue;
}

.red{
    color: red;
}



#home{
    border: 2px solid lightgrey;   
}

#info{
    border: 2px solid lightgrey;   
}

#footer{
    border: 2px solid lightgrey;   
}


#info.yellow.green p{
   color: rgb(73, 30, 112);
}

.Caja{
    height: 150px;
    width: 210px;
    background-color: skyblue;
    padding: 10px;
    border: 15px solid orange;
    margin: 20px;
}

#Abajo {
    margin: 0px;
    padding: 0px;
    border: 0px;
    width: 100%;
    height: 100%;
    min-height: 100px;
    box-sizing: border-box;
    display: inline;

}

.section.div{
    height: 20px;
    border: #333;
}

.blackbox{
    height: 150px;
    border: 2px black solid;
}

.redbox {
    height: 150px;
    border: blue 2px solid;
    position: relative;
    background-color: red;
    box-sizing: border-box;
}

.yellowbox{
    position: absolute;
    height: 50px;
    width: 50px;
    background-color: yellow;
    border: 2px green solid;
    right:  0px;
    bottom: 0px;
}